/web/bundles/
/web/css/
/web/js/
/web/fonts/
/web/img/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/node_modules/
/bower_components/
/.sass-cache/
